html, body {
    height: 100%;
}

html, body, main, main.container {
    background-image: url("../images/body-spiration-light.png");
}

.navbar-brand {
    background-color: #4aaaa5;
}

main.container {
    padding: 0;
}

.panel-heading {
    margin-bottom: 20px;

}

.footer {
    width: 100%;
    height: 60px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5; 
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 0.8em;
    line-height: 60px;
}

/* Sticky Footer - wrap ALL main body content with this wrap */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.panel.panel-default {
    padding-bottom: 20px;
}

main span {
    line-height: 2.0em;
}

.panel-heading {
    padding-left: 0px;
}

#portOne {
    background-image: url("../images/hangmanGame.jpg");
    background-size: cover;
    height: 214px;
    padding: 0;
    margin-bottom: 20px;
}

#portTwo {
    background-image: url("../images/rpgGame.jpg");
    background-size: cover;
    height: 214px;
    padding: 0;
    margin-bottom: 20px;
}

#portThree {
    background-image: url("../images/triviaGame.jpg");
    background-size: cover;
    height: 214px;
    padding: 0;
    margin-bottom: 20px;
}

#portFour {
    background-image: url("../images/rutgersWidget.jpg");
    background-size: cover;
    height: 214px;
    padding: 0;
    margin-bottom: 20px;
}

#portFive {
    background-image: url("../images/rockPaperScissors.jpg");
    background-size: cover;
    height: 214px;
    padding: 0;
    margin-bottom: 20px;
}

.portText {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    bottom: 10px;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 40px; 
    line-height: 40px; 
    text-align: center;
}

#imgMargin {
    margin-right: 20px;
    margin-bottom: 15px;
}

